<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Shoda</title>
</head>
<body>
  <h1>Welcome to Shoda - Your Ultimate Shopping Destination!</h1>
  <p>Hi <%= @shopper.name %>,</p>
  <p>Thank you for joining Shoda, your go-to destination for all your shopping needs!</p>

  <h2>Why Shop with Shoda?</h2>
  <ol>
    <li><strong>Wide Range of Products:</strong> Explore thousands of products from various brands, including nike, adidas and more.</li>
    <li><strong>Quality Assurance:</strong> Shop with confidence knowing that every product on Shoda meets the highest standards of quality and authenticity.</li>
    <li><strong>Exclusive Discounts and Deals:</strong> Enjoy special offers and promotions to help you save money on your favorite products.</li>
    <li><strong>Easy Ordering and Secure Payments:</strong> Place your order with ease and confidence using our user-friendly interface and secure checkout process.</li>
  </ol>

  <p>Start exploring Shoda today and discover the joy of convenient, reliable, and rewarding online shopping!</p>

  <p>Happy Shopping!</p>
</body>
</html>
